@use "../../styles/abstracts/" as abs;

.sectionTitle {
  @include abs.flxAllCtrBox;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 2rem 0 0 0;
  padding: 0 0 0 1rem;
  gap: 0.5rem;
  font-size: 1.125rem;
  font-weight: 300;
  color: black;

  text-transform: uppercase;
}
