/* @mixin font-size($size) {
  font-size: $size;
  font-size: calc-rem-value($size);
} */

@use "sass:map";

$breakpoints: (
  "xs": 480px,
  // Phones
  "sm": 768px,
  // Tablets
  "md": 1024px,
  // Laptops
  "lg": 1280px,
  // Desktops
  "xl": 1536px,
  // Large screens,
  "xxl": 1920px,
  // Extra large screens
);

$height-breakpoints: (
  "xs": 600px,
  // Very short viewports
  "sm": 768px,
  // Short viewports
  "md": 900px,
  // Moderately tall viewports
);

// Mixin for responsive design
@mixin respond-to($size) {
  @media (max-width: map.get($breakpoints, $size)) {
    @content;
  }
}

// Mixin for height responsive design
@mixin respond-to-height($size) {
  @media (max-height: map.get($height-breakpoints, $size)) {
    @content;
  }
}

@mixin respond-to-custom($width, $height) {
  @media (min-width: calc(map.get($breakpoints, $width) + 1px)) and (max-height: map.get($height-breakpoints, $height)) {
    @content;
  }
}

@mixin flxAllCtrBox {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

@mixin fullSize {
  width: 100%;
  height: 100%;
}

/* @mixin fontType{
    
}
 */
