:root {
}

/*Hex Colors*/
$dark-grey: #1a1a1a;
$darker-grey: #101010;
$grey: #292929;
$medium-grey: #a3a3a3;
$mid-grey: #e0e0e0;
$light-grey: #eaeaea;
$white: #ffffff;
$dark-purple: #7c3aed;
$mid-purple: #884eed;
$light-purple: #a287f3;
$hover-purple: #8b5cf6;
$hover-purple2: #cebcf7;
$active-purple: #5a23b5;
/*RGBA Colors*/
$dark-purple-rgba: rgba(124, 58, 237, 0.5);
$mid-purple-rgba: rgba(136, 78, 237, 0.2);
$light-purple-rgba: rgba(162, 135, 243, 0.2);
$dark-grey-rgba: rgba(26, 26, 26, 0.2);
$grey-rgba: rgba(41, 41, 41, 0.2);
$mid-grey-rgba: rgba(224, 224, 224, 0.2);
$light-grey-rgba: rgba(234, 234, 234, 0.2);
$white-rgba: rgba(255, 255, 255, 0.2);
$active-purple-rgba: rgba(91, 35, 181, 0.5);
$medium-grey-rgba: rgba(163, 163, 163, 1);
$hover-purple2-rgba: rgb(206, 188, 247, 0.5);
/*Gradient Colors*/
