@use "abstracts" as abs;
@use "base" as base;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

h1,
h2,
h3,
h4,
button,
p,
ul,
li,
textarea,
input,
form {
  all: unset;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  overflow-x: hidden;
  position: relative;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: abs.$white;
  background: abs.$dark-grey;
  position: relative;
}

.App {
  height: 100%;
  width: 100%;
  position: relative;
}

.mainContainer {
  @include abs.flxAllCtrBox;
  padding: 7rem 0rem 15rem 0rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: abs.$noise, /* abs.$pattern, */ abs.$darker-grey;
}

.a4SizedContainer {
  z-index: 1;
  background-color: transparent;
  overflow: hidden;
  width: 211mm;
  height: 297mm;
  box-sizing: border-box;
  /* padding: 3mm; */ // Add this for Print Download
  filter: drop-shadow(0px 0px 10px black);
}
