@use "../../styles/abstracts" as abs;
@use "../../styles/base" as base;

.cv {
  @include abs.flxAllCtrBox;
  @include abs.fullSize;
  background-color: abs.$light-grey;
  color: black;

  &__layoutButton {
    z-index: 100;
    position: absolute;
    @include abs.flxAllCtrBox;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 1.5rem;
    border-radius: 4px;
    font-size: 1.5rem;
    top: 40%;
    right: 1rem;
    color: abs.$gold;
    background-color: abs.$darker-grey;

    display: none;
    &__display {
      @include abs.flxAllCtrBox;
      padding: 1rem 0 0 0;
      font-weight: 200;
      margin-left: 0.5rem;
      color: white;
      text-transform: uppercase;
    }
    @media print {
      display: none;
    }
  }

  /*   &__layoutGrid {
    box-sizing: border-box;
    @include abs.fullSize;
    display: grid;
    gap: 0rem;
    grid-template-columns: 33% auto;
    grid-template-rows: 25% auto;
    grid-template-areas:
      "topSection topSection"
      "leftSection rightSection";

    &__topSection {
      grid-area: topSection;
      @include abs.flxAllCtrBox;
      @include abs.fullSize;
      width: 100%;
      height: 100%;
      background-color: abs.$blue;
    }

    &__rightSection,
    &__leftSection {
      @include abs.flxAllCtrBox;
      @include abs.fullSize;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &__leftSection {
      padding: 1rem 0 0 0;
      grid-area: leftSection;
      border-right: 1px solid abs.$blue;

      background: abs.$grad-leftSection;
    }

    &__rightSection {
      grid-area: rightSection;
      background: abs.$grad-leftSection2;
    }

      &__bottomSection {
      grid-area: bottomSection;
    }
  } */
}

.loading {
  @include abs.fullSize;
  @include abs.flxAllCtrBox;
  background-color: abs.$light-grey;
  color: black;
  font-size: 5rem;
  font-weight: 500;
}
