@use "../../styles/abstracts" as abs;
@use "../../styles/base" as base;

.cv {
  /*   background-color: abs.$light-grey; */
  @include abs.flxAllCtrBox;
  @include abs.fullSize;
  color: black;
}

.loading {
  @include abs.fullSize;
  @include abs.flxAllCtrBox;
  background-color: abs.$light-grey;
  color: black;
  font-size: 5rem;
  font-weight: 500;
}

/* &__layoutButton {
    z-index: 100;
    position: absolute;
    @include abs.flxAllCtrBox;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 1.5rem;
    border-radius: 4px;
    font-size: 1.5rem;
    top: 40%;
    right: 1rem;
    color: abs.$gold;
    background-color: abs.$darker-grey;

    display: none;
    &__display {
      @include abs.flxAllCtrBox;
      padding: 1rem 0 0 0;
      font-weight: 200;
      margin-left: 0.5rem;
      color: white;
      text-transform: uppercase;
    }
    @media print {
      display: none;
    }
  } */
