@use "../../../styles/abstracts/" as abs;

.contactInfo {
  position: relative;
  @include abs.flxAllCtrBox;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 1rem 0;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 0 0 1rem;
    width: 100%;
    height: auto;
    gap: 0.25rem;

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      height: auto;
      gap: 0.5rem;

      svg {
        width: 1rem;
        color: #ae955b;
      }

      &__txt {
        font-size: 1rem;
        font-weight: 200;
      }
    }
  }
}
