@use "../../../styles/abstracts" as abs;

.headBand {
  position: relative;
  @include abs.flxAllCtrBox;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 0.5rem;

  &__initials {
    color: abs.$gold;
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__name {
    @include abs.flxAllCtrBox;
    color: abs.$light-grey;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 6px;
  }
  &__job {
    @include abs.flxAllCtrBox;
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding: 0rem 2rem;

    &__lineLeft,
    &__lineRight {
      @include abs.flxAllCtrBox;
      width: 100%;
      height: 0.1rem;
      background-color: abs.$gold;
      box-sizing: border-box;
    }

    &__nomination {
      @include abs.flxAllCtrBox;
      color: abs.$light-grey;
      font-size: 1rem;
      font-weight: 500;
      width: 100%;
      height: 2rem;
      padding: 0 2rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      white-space: nowrap;
      color: abs.$gold;
    }
  }

  &__shortInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    /*   padding: 1rem 0 0 0; */

    &__separator {
      width: 1px;
      height: 100%;
      background-color: abs.$gold;
      box-sizing: border-box;
    }

    &__item {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;

      height: auto;
      gap: 0.5rem;
      svg {
        width: 1.5rem;
        height: 1.5rem;
        color: abs.$gold;
      }
      &__txt {
        color: abs.$light-grey;
        font-size: 1rem;
        font-weight: 200;
      }
    }
  }
}
