@use "../../styles/abstracts/" as abs;

.header {
  position: relative;
  z-index: 999;
  background: abs.$blue;
  width: 100%;
  height: auto;
  @include abs.flxAllCtrBox;
  justify-content: space-between;
  padding: 0 1rem;
  transform-origin: top;

  &__nav {
    box-sizing: border-box;
    @include abs.flxAllCtrBox;
    max-width: 1200px;
    height: 100%;
    gap: 1rem;
    padding: 0.5rem;

    &__link {
      border-radius: 4px;
      @include abs.flxAllCtrBox;
      list-style: none;
      width: auto;
      height: 100%;
      text-decoration: none;
      padding: 0.5rem;
      font-size: 1rem;
      font-weight: 500;
      color: abs.$medium-grey-rgba;
      &:hover {
        background-color: abs.$dark-grey;
        scale: 0.975;
        color: abs.$gold;
      }
    }
  }
  &__downloadButton {
    border-radius: 4px;
    right: 0;
    @include abs.flxAllCtrBox;
    list-style: none;
    width: auto;
    height: 100%;
    text-decoration: none;
    padding: 1rem 0.5rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 500;
    color: abs.$medium-grey-rgba;
    &:hover {
      background-color: rgba(34, 119, 23, 0.749);
      scale: 0.975;
      color: abs.$light-grey;
    }
  }
}
