@use "../../styles/abstracts" as abs;
@use "../../styles/base" as base;

.footer {
  @include abs.flxAllCtrBox;
  padding: 2rem;
  height: auto;
  width: 100%;
  background: abs.$darker-grey;
  z-index: 10;
  bottom: 0;

  &__container {
    @include abs.flxAllCtrBox;
    flex-direction: column;
    gap: 3rem;
    width: 100%;

    &__copyright {
      font-size: 1rem;
      font-weight: 200;
    }
  }
}
