$main-btn-font-family: "Inter", sans-serif;
$main-btn-font-weight: 600;
$main-btn-font-size: 1rem;
$main-btn-spacing: 0.5px;

$hero-title-font-family: "Inter", sans-serif;
$hero-title-font-weight: 700;
$hero-title-font-size: 6rem;
$hero-title-spacing: 5px;
/* 
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Inter", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
